streamlit
pandas==1.5.3
numpy==1.23.5
matplotlib==3.7.3
prophet==1.0.1
cmdstanpy==0.9.5
scikit-learn==1.2.2
google-api-python-client
textblob
python-dotenv
tensorflow==2.14.0
tensorflow_hub==0.15.0
opencv-python
Pillow
requests
